/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("https://i.ibb.co/G7nz6qm/Op-Angel.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    margin-bottom: 60px; /* Add margin to avoid footer overlap */
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#fastDownload,
#hdDownload,
#videoThumbnail {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block; /* Make buttons inline */
    margin-right: 10px; /* Add spacing between buttons */
}

#fastDownload:hover,
#hdDownload:hover,
#videoThumbnail:hover {
    background-color: #0056b3;
}

.video-js {
    width: 100%;
    margin-top: 20px;
}

.details {
    margin-top: 20px;
}

.details a {
    display: inline-block; /* Make buttons inline */
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.title-container img {
    margin-right: 10px;
    width: 40px;
    height: auto;
}

#terabox {
    color: #003DB6;
    font-weight: bold;
    font-size: 30px;
}

#video {
    color: #FE009E;
    font-weight: bold;
    font-size: 40px;
}

#downloader {
    color: #7100D0;
    font-weight: bold;
    font-size: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0; /* Reduce padding */
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    z-index: 1000; /* Ensure footer is above other content */
}
